PORT=8080
EVALUATION_BASE_URL=http://4.224.186.213
EVALUATION_ACCESS_TOKEN=
EVALUATION_CLIENT_ID=
EVALUATION_CLIENT_SECRET=
EVALUATION_EMAIL=
EVALUATION_ROLL_NO=
EVALUATION_ACCESS_CODE=
NOTIFICATIONS_API_PATH=/evaluation-service/notifications
MARK_READ_API_PATH=/evaluation-service/notifications/:id/read
LOG_REQUIRE_REMOTE=false
